
venv/
.venv/
env/


__pycache__/
*.py[cod]
*.pyo

.scrapy/
build/
dist/
.eggs/
eggs/
*.egg-info/


logs/
dbs/


output/
*.db
*.sqlite
*.sqlite3
**/test_output.json

.git/
.gitignore

.vscode/
.idea/
.DS_Store
